body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer a {
    color: var(--bs-secondary-color);
}

.centre {
    top: 10%;
    margin: auto;
    width: 50%;
    
    padding: 5%;
    left: 25%;
    /*position: absolute;*/

    background-color: var(--bs-tertiary-bg);
    border-radius: 2%;
}

.container {
    min-height: 20%;
    top: 10%;
    bottom:2%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;


}

.centre h1 {
    text-align: center;
}

a.project {
    color: var(--bs-body-color);
}

footer {
    bottom: 0;
    z-index: -1;
    position:fixed;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:1.5em;
    left: 0;
    right: 0;
}
.custom-container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

.navbar-brand.right{
    right: 0;
    padding-top: 1%;
    top: var(--bs-navbar-brand-padding-y);
    position: absolute;
}
